@model Core.VeiwModel.SkillViewModel




@*<div class="col-8 form-body m-auto shadow bg-white ">

    <div class="form-holder pt-0">
        <div class="form-content pt-4">
            <div class="form-items">
                <h3>Job Skills & Training</h3>
                <p class="text-info">please complete the form below to apply for a position</p>
                <form asp-controller="User" asp-action="Skill" method="post" class="requires-validation">
                    <div class="row">
                        <div class="col-10">
     
                            <div class="row">

                              
                                <div class="col-md-12 mb-2">
                                    <div class="form-group">
                                        <label asp-for="Training">Training or Certification</label>
                                        <textarea asp-for="Training"row="30" cols="5" class="form-control" style="border:none; outline:none; background-color:#f5f5f5;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-2 ">
                                    <div class="form-group">
                                        <label asp-for="Discription">Describe your skill</label>
                                        <textarea asp-for="Discription" row="30" cols="5" class="form-control" style="border:none; outline:none; background-color:#f5f5f5;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-2 ">
                                    <div class="form-group">
                                        <label asp-for="Training">what are your major skills regarding the job you have applied for?</label>
                                        <textarea asp-for="Training" row="30" cols="5" class="form-control" style="border:none; outline:none; background-color:#f5f5f5;"></textarea>
                                    </div>
                                </div>
                                <hr>

                                <div class="  form-button mt-2 m-auto">
                                    <button id="submit" type="submit" class="btn btn-info">Submit</button>
                                </div>


                            </div>


                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>*@

