@model Core.VeiwModel.WorkExperienceViewModel

    @*<div class="container-fluid m-auto">

        <form asp-controller="User" asp-action=" WorkExperience" method="post" class="requires-validation">

            <div class="row">
                <div class="col-8">

                    <div class="card shadow bg-white ">
                        <div class="card-header bg-primary text-center text-white">
                            Work Experience
                        </div>
                       

                        <div class="card-body border-danger  ">
                            <div class="row">

                                    <div class="col-md-6 mb-3">
                                        <label asp-for="WorkPlace">Company Name</label>
                                        <input asp-for="WorkPlace" class="form-control" type="text" name="name" placeholder="Company name" style="border:none; outline:none; background-color:#f5f5f5;" required>
                                        <div class="valid-feedback">Username field is valid!</div>
                                        <div class="invalid-feedback">Username field cannot be blank!</div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label asp-for="Location">Company location</label>
                                        <input asp-for="Location" class="form-control" type="text" name="name" placeholder="Location" style="border:none; outline:none; background-color:#f5f5f5;" required>
                                        <div class="valid-feedback">Username field is valid!</div>
                                        <div class="invalid-feedback">Username field cannot be blank!</div>
                                    </div>


                                    <div class="col-md-6 mb-3 ">
                                        <div class="form-group">
                                            <label asp-for="DateStarted"></label>
                                            <input asp-for="DateStarted" row="30" cols="5" class="form-control" style="border:none; outline:none; background-color:#f5f5f5;">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3 ">
                                        <div class="form-group">
                                            <label asp-for="DateClosed"></label>
                                            <input asp-for="DateClosed" row="30" cols="5" class="form-control" style="border:none; outline:none; background-color:#f5f5f5;">

                                        </div>

                                    </div>
                                    <div class="col-md-12 mb-3 ">
                                        <div class="form-group">
                                            <label asp-for="Discription">What was your job like</label>
                                            <textarea row="30" cols="5" class="form-control" asp-for="Discription" style="border:none; outline:none; background-color:#f5f5f5;"></textarea>
                                        </div>
                                    </div>
                                    <div class="  form-button mt-3 m-auto">
                                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                                    </div>


                            </div>

                                

                        </div>

                    </div>
                </div>
            </div>
           
       </form>
</div>*@
